/* Navbar.css */
.navbar {
    padding: 10px;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem;
  }
  
  .navbar-nav .btn-danger {
    margin-left: 15px;
  }
  